<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.cy.dao.RoleDao">
 <select id="findObjects"
            resultType="com.cy.pojo.User">
           select id,name
           from sys_roles
  </select>
 
 <select id="getRowCount" resultType="int">
 select count(*) from sys_roles 
 <include refid="querywhere" />
 </select>
 <select id="findById" resultType="com.cy.pojo.Role">
 select * from sys_roles  where id =#{id}
 
 </select>
 
 <select id="dofindRole" resultType="com.cy.pojo.Role">
 select * from sys_roles 
 <include refid="querywhere" />
 order by createdTime desc
 limit #{startIndex},#{pageSize}
 
 </select>
<update id="update" parameterType="com.cy.pojo.Role">
update sys_roles set name=#{name},
           note=#{note},
           modifiedUser=#{modifiedUser},
           modifiedTime=now()
 where id=#{id}
</update> 

 <select id="findObjectById"
           resultMap="sysRoleMenuVo">
           select id,name,note
           from sys_roles
           where id=#{id}        
   </select>
    <!-- resultMap一般用于自定义映射或一些关联查询中 -->
   <resultMap type="com.cy.pojo.RoleMenu" 
              id="sysRoleMenuVo">
        <!-- 假如基于id做关联查询，又希望将id值存储到值对象，
                           可以对id进行专门映射 -->
        <id property="id" column="id"/>
        <!-- collection一般应用于one2many查询 -->
        <collection property="menuIds"
                    select="com.cy.dao.RoleMenuDao.findMenuIdsByRoleId"
                    column="id">
        </collection>
   </resultMap>
   

<insert id="insertObject"
            parameterType="com.cy.pojo.Role"
useGeneratedKeys="true"
keyProperty="id">
         insert into sys_roles 
         (id,name,note,createdTime,modifiedTime,
         createdUser,modifiedUser) 
         values
         (null,#{name},#{note},now(),now(),
         #{createdUser},#{modifiedUser})
    </insert>

  <delete id="deleteObject" parameterType="int">
       delete from sys_roles
       where id =#{id}
    </delete>  
<sql id="querywhere">
 <where>
 <if test="name!=null and name!=''">
 name like "%${name}%"
 </if>
 </where>
 </sql>
 
 
<!-- 
	


	<select id="getRowCount" resultType="int">
		select count(*) from sys_roles
		<include refid="rowWhere"></include>
	</select>

	<select id="findPageObjects" resultType="com.cy.pojo.SysRole">


		select * from sys_roles
		<include refid="rowWhere"></include>

		order by createdTime desc  limit #{startIndex},#{pageSize}
	</select>

 -->
 </mapper>




